*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #2c3e50;
  background-color: #f0f8ff;
  animation: fadein 1.5s;
}

@keyframes fadein{
  from{
    opacity: 0%;
  }
  to{
    opacity: 100%;
  }
}


.container{
  display: block;
  text-align: center;

}

h1{
  margin-bottom: 0;
  font-size: 300%;
  color: #34494e;
}

.calc{
  display: inline-block;

}


input{
  /*입력 방향을 왼쪽에서 오른쪽으로 설정*/
  direction: ltr;
  background-color: #ffffff;
  width: 80vw;
  font-size: 3rem;
  color:#2c3e50;
  border: 2px solid #bdc3c7;
  border-radius: 0.5rem;

}

table{
  margin: 0 auto;
}

button{
  background-color: #ecf0f1;
  width: 20vw;
  height: 10vw;
  font-size: 2rem;
  color: #2c3e50;
  border-radius: 0.5rem;
  transition: box-shadow 0.3s ease , transform 0.2s ease;
}

button:active{
  transform: scale(0.90);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 15);
}

button:hover{
  transform: scale(0.95);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 2);
}